* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

  .countdown {
    display: flex;
    gap: 20px;
   

}

.box {
    border: 1px solid transparent;
    width:  70px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    
}
.name{
    text-align: center;
}