/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  
  /* HEADER STYLING */
  header .banner-container {
    background-color: black;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 80px;
  }
  header .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(203, 197, 197);
    font-size: 14px;
    width: 800px;
  }
  
  header .banner span a {
    color: white;
  }
  
  header .banner select {
    color: white;
    background-color: black;
    border: none;
    outline: none;
  }
  
  header .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: 70px;
    border-bottom: 1px solid #ccc;
  }
  
  header .nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  header .nav-link {
    font-weight: 100;
  }
  
  header a {
    color: black;
    text-decoration: none;
  }
  
  header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  header .search-cart {
    display: flex;
    align-items: center;
    gap: 20px;;
  }
  
  header .search-bar {
    border: 1px solid #ccc;
    width: 243px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #F5F5F5;
    border-radius: 4px;
  }
  
  header .search-bar > input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 12px;
  }
  
  header .search-bar > button {
    border: none;
    background-color: transparent;
    cursor: pointer;;
  }

 
  